<h1>Buscado:
  <small>{{termino}}</small>
</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroesArr.length == 0 ">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existe resultados con el termino: {{termino}}

    </div>
  </div>
</div>


<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroesArr; let i = index ">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <div id="bodydesc" style="margin-left:auto; margin-right:auto; width:auto; height: 100px; overflow-y: auto;
        overflow-x: hidden;">
        <p class="card-text" style="float:left; width:auto;">{{heroe.bio}}</p>
      </div>
      <p class="card-text">
        <small class="text-muted">{{heroe.aparicion}}</small>
      </p>
      <button type="button" (click)="verHeroe(i)" class="btn btn-outlet-primary btn-block">
        Ver más...
      </button>

    </div>
  </div>




</div>
